In [1]:
import numpy as np

import pandas as pd

from pandas import Series,DataFrame

from numpy.random import randn

In [2]:
ser = Series(randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])
ser

1  a   -0.084124
   b    0.281942
   c    0.650886
2  a    1.501151
   b    0.157736
   c    1.100948
dtype: float64

In [4]:
ser.index

MultiIndex([(1, 'a'),
            (1, 'b'),
            (1, 'c'),
            (2, 'a'),
            (2, 'b'),
            (2, 'c')],
           )

In [7]:
ser[1]

a   -0.084124
b    0.281942
c    0.650886
dtype: float64

In [8]:
ser[2]

a    1.501151
b    0.157736
c    1.100948
dtype: float64

In [11]:
ser[:,'a']

1   -0.084124
2    1.501151
dtype: float64

In [12]:
ser

1  a   -0.084124
   b    0.281942
   c    0.650886
2  a    1.501151
   b    0.157736
   c    1.100948
dtype: float64

In [15]:
dframe = ser.unstack()
dframe

          a         b         c
1 -0.084124  0.281942  0.650886
2  1.501151  0.157736  1.100948

In [17]:
dframe2=DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]],
                  columns=[['g','o','l','d'],['G','V','D','R']])
dframe2

      g   o   l   d
      G   V   D   R
a 1   0   1   2   3
  2   4   5   6   7
b 1   8   9  10  11
  2  12  13  14  15

In [19]:
dframe2.index.names = (['INDdEX-1','INDEX-2'])
dframe2.columns.names = (['SHINEING','STAR'])
dframe2

SHINEING           g   o   l   d
STAR               G   V   D   R
INDdEX-1 INDEX-2
a        1         0   1   2   3
         2         4   5   6   7
b        1         8   9  10  11
         2        12  13  14  15

In [20]:
dframe2.swaplevel('STAR','SHINEING',axis=1)

STAR               G   V   D   R
SHINEING           g   o   l   d
INDdEX-1 INDEX-2
a        1         0   1   2   3
         2         4   5   6   7
b        1         8   9  10  11
         2        12  13  14  15

In [22]:
dframe2.sort_index(level=1,axis=0,inplace=True)
dframe2

SHINEING           g   o   l   d
STAR               G   V   D   R
INDdEX-1 INDEX-2
a        1         0   1   2   3
b        1         8   9  10  11
a        2         4   5   6   7
b        2        12  13  14  15

In [25]:
dframe2.groupby(level='STAR',axis=1).sum()

C:\Users\kodur\AppData\Local\Temp\ipykernel_5184\3036141965.py:1: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  dframe2.groupby(level='STAR',axis=1).sum()

STAR               D   G   R   V
INDdEX-1 INDEX-2
a        1         2   0   3   1
b        1        10   8  11   9
a        2         6   4   7   5
b        2        14  12  15  13

In [28]:
dframe2.groupby(level='INDEX-2',axis=0).sum()

C:\Users\kodur\AppData\Local\Temp\ipykernel_5184\2528536989.py:1: FutureWarning: The 'axis' keyword in DataFrame.groupby is deprecated and will be removed in a future version.
  dframe2.groupby(level='INDEX-2',axis=0).sum()

SHINEING   g   o   l   d
STAR       G   V   D   R
INDEX-2
1          8  10  12  14
2         16  18  20  22