In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from numpy.random import randn

In [8]:
dframe=pd.read_table('C:\\Users\\kodur\\Desktop\\.ipynb_checkpoints\\nothing.csv',sep=',',header=None)
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5   pearl
2  a  s  d  f  rabbit
3  1  2  3  4     dog

In [12]:
dframe=pd.read_csv('C:\\Users\\kodur\\Desktop\\.ipynb_checkpoints\\nothing.csv',header=None)
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5   pearl
2  a  s  d  f  rabbit
3  1  2  3  4     dog

In [6]:
dframe = pd.read_csv('C:\\Users\\kodur\\Desktop\\.ipynb_checkpoints\\nothing.csv')
dframe

   q  r  s  t   apple
0  2  3  4  5   pearl
1  a  s  d  f  rabbit
2  1  2  3  4     dog

In [14]:
pd.read_csv('C:\\Users\\kodur\\Desktop\\.ipynb_checkpoints\\nothing.csv',header=None,nrows=2)

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5  pearl

In [16]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5   pearl
2  a  s  d  f  rabbit
3  1  2  3  4     dog

In [18]:
# to export the current file as csv file
dframe.to_csv('myfile.csv')

In [20]:
# without saving or exporting file we can see the output of the file as below :-
import sys

In [22]:
dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pearl
2,a,s,d,f,rabbit
3,1,2,3,4,dog

In [24]:
# to change seperaters from ',' to other symbols
dframe.to_csv(sys.stdout,sep='_')

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pearl
2_a_s_d_f_rabbit
3_1_2_3_4_dog

In [28]:
import webbrowser
url='https://docs.python.org/3/library/csv.html'
webbrowser.open(url)

True

In [30]:
git='https://github.com/VIJAYAPHOENIX'
webbrowser.open(git)

True