In [1]:
import numpy as np

import pandas as pd

from pandas import Series,DataFrame

from numpy.random import randn

In [3]:
ser = Series([1,2,3,4,5,6],index = ['A','B','C','D','E','F'])
ser

A    1
B    2
C    3
D    4
E    5
F    6
dtype: int64

In [9]:
ser2 = ser.reindex(['A','B','C','D','E','F','G','H'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    5.0
F    6.0
G    NaN
H    NaN
dtype: float64

In [13]:
ser2.reindex(['A','B','C','D','E','F','G','H','I'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    5.0
F    6.0
G    NaN
H    NaN
I    0.0
dtype: float64

In [21]:
ser3 =Series(['ind','usa','uae'],index=[0,5,10])
ser3

0     ind
5     usa
10    uae
dtype: object

In [25]:
seq = range(15)
seq

range(0, 15)

In [27]:
ser3.reindex(seq,method='ffill')

0     ind
1     ind
2     ind
3     ind
4     ind
5     usa
6     usa
7     usa
8     usa
9     usa
10    uae
11    uae
12    uae
13    uae
14    uae
dtype: object

In [43]:
dframe = DataFrame(randn(25).reshape(5,5),index = ['a','b','d','e','f'],columns = ['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
a -0.052922  1.341989 -1.420466 -0.052790  0.321277
b -0.140331  0.113576 -0.849880 -0.658304 -2.539420
d  0.226962 -0.613204 -0.699414 -0.562625 -0.047214
e  1.202637 -0.964943 -0.663089 -0.631315  0.517711
f  0.454997  0.180006  0.157506  2.109318  0.407807

In [49]:
dframe2 = dframe.reindex(['a','b','c','d','e','f'])

In [51]:
dframe2

       col1      col2      col3      col4      col5
a -0.052922  1.341989 -1.420466 -0.052790  0.321277
b -0.140331  0.113576 -0.849880 -0.658304 -2.539420
c       NaN       NaN       NaN       NaN       NaN
d  0.226962 -0.613204 -0.699414 -0.562625 -0.047214
e  1.202637 -0.964943 -0.663089 -0.631315  0.517711
f  0.454997  0.180006  0.157506  2.109318  0.407807

In [53]:
new_col = ['col1','col2','col3','col4','col5','col6']
dframe2.reindex(columns = new_col)

       col1      col2      col3      col4      col5  col6
a -0.052922  1.341989 -1.420466 -0.052790  0.321277   NaN
b -0.140331  0.113576 -0.849880 -0.658304 -2.539420   NaN
c       NaN       NaN       NaN       NaN       NaN   NaN
d  0.226962 -0.613204 -0.699414 -0.562625 -0.047214   NaN
e  1.202637 -0.964943 -0.663089 -0.631315  0.517711   NaN
f  0.454997  0.180006  0.157506  2.109318  0.407807   NaN

In [57]:
ind = (['a','b','c','d','e','f'])
dframe

       col1      col2      col3      col4      col5
a -0.052922  1.341989 -1.420466 -0.052790  0.321277
b -0.140331  0.113576 -0.849880 -0.658304 -2.539420
d  0.226962 -0.613204 -0.699414 -0.562625 -0.047214
e  1.202637 -0.964943 -0.663089 -0.631315  0.517711
f  0.454997  0.180006  0.157506  2.109318  0.407807

In [80]:
dframe.loc[ind,new_col]

KeyError: "['c'] not in index"

In [82]:
dframe

       col1      col2      col3      col4      col5
a -0.052922  1.341989 -1.420466 -0.052790  0.321277
b -0.140331  0.113576 -0.849880 -0.658304 -2.539420
d  0.226962 -0.613204 -0.699414 -0.562625 -0.047214
e  1.202637 -0.964943 -0.663089 -0.631315  0.517711
f  0.454997  0.180006  0.157506  2.109318  0.407807

In [84]:
dframe.drop('d')

       col1      col2      col3      col4      col5
a -0.052922  1.341989 -1.420466 -0.052790  0.321277
b -0.140331  0.113576 -0.849880 -0.658304 -2.539420
e  1.202637 -0.964943 -0.663089 -0.631315  0.517711
f  0.454997  0.180006  0.157506  2.109318  0.407807

In [86]:
dframe.drop('col3',axis=1)

       col1      col2      col4      col5
a -0.052922  1.341989 -0.052790  0.321277
b -0.140331  0.113576 -0.658304 -2.539420
d  0.226962 -0.613204 -0.562625 -0.047214
e  1.202637 -0.964943 -0.631315  0.517711
f  0.454997  0.180006  2.109318  0.407807