In [3]:
import numpy as np

import pandas as pd

from pandas import Series,DataFrame

In [9]:
ser1 = Series(np.arange(3),index=['A','B','C'])
ser1

A    0
B    1
C    2
dtype: int32

In [11]:
ser1 = ser1*2
ser1

A    0
B    2
C    4
dtype: int32

In [20]:
ser1['B']

2

In [30]:
ser1.loc['A']

0

In [32]:
ser1[0:3]

A    0
B    2
C    4
dtype: int32

In [34]:
ser1[['A','B']]

A    0
B    2
dtype: int32

In [36]:
ser1[ser1>2]

C    4
dtype: int32

In [40]:
dframe = DataFrame(np.arange(25).reshape(5,5),index=['r1','r2','r3','r4','r5'],columns = ['c1','c2','c3','c4','c5'])
dframe

    c1  c2  c3  c4  c5
r1   0   1   2   3   4
r2   5   6   7   8   9
r3  10  11  12  13  14
r4  15  16  17  18  19
r5  20  21  22  23  24

In [42]:
dframe['c2']

r1     1
r2     6
r3    11
r4    16
r5    21
Name: c2, dtype: int32

In [44]:
dframe[['c3','c4']]

    c3  c4
r1   2   3
r2   7   8
r3  12  13
r4  17  18
r5  22  23

In [50]:
dframe[dframe['c3']>=8]

    c1  c2  c3  c4  c5
r3  10  11  12  13  14
r4  15  16  17  18  19
r5  20  21  22  23  24

In [54]:
dframe > 10

       c1     c2     c3     c4     c5
r1  False  False  False  False  False
r2  False  False  False  False  False
r3  False   True   True   True   True
r4   True   True   True   True   True
r5   True   True   True   True   True

In [56]:
dframe.loc['r4']

c1    15
c2    16
c3    17
c4    18
c5    19
Name: r4, dtype: int32

In [72]:
dframe.iloc['c3']

TypeError: Cannot index by location index with a non-integer key